/*Dodaję czerwoną gwiazdkę do labeli przed inputem z required*/
label:has(+ input[required])::after {
    content: " *";
    color: red;
    font-weight: bold;
}

/* Styl dla tła blokującego stronę pod spodem */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
/* Styl samego okienka logowania */
.modal-content {
    background: #fafafa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
}

.user-form {
    margin-bottom: 15px;
}


    .user-form label {
        display: block;
        margin-bottom: 5px;
    }

    .user-form input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .user-form button {
        flex: 1; /* Każdy przycisk ma identyczną szerokość */
        padding: 10px 8px;
        border: 1px solid #bfc9d9; /* Subtelna, jasnoszara ramka */
        border-radius: 6px;
        background-color: #dddddd; /* Bardzo jasny szary startowy */
        color: #3b3b3c; /* Ciemnoszary, czytelny tekst */
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        transition: all 0.2s ease;
    }
    .user-form .confirm-btn {
        background-color: #cfcfcf;
        font-weight: bold;
    }
        .user-form .confirm-register-btn {
            width: 80%;
            margin: 10px;
            margin-top: 15px;

        }

    .user-form .login-register-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        /*        color: oldlace;*/
        background-color: #eeeeee;
        padding: 10px;
        box-shadow: 1px;
        border-radius: 5px;
    }

    .user-form button:hover {
        background-color: #f3f4f6; /* Średni szary */
        border-color: #9ca3af; /* Ciemniejsza ramka przy hoverze */
        color: #111827; /* Prawie czarny tekst dla lepszego kontrastu */
    }


        .modal-content h2 {
            padding-bottom: 20px;
            color: dimgray;
        }

.error-msg {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.success-msg {
    color: green;
    margin-top: 10px;
}

.user-buttons-container {
    display: flex;
    flex-direction: row; /* Układ w poziomie */
    gap: 8px; /* Odstęp między przyciskami */
    margin-top: auto; /* Wypycha cały kontener na sam dół kafelka */
    width: 100%;
}

